section {
  width: 500px;
  height: 500px;
  background-color: olivedrab;
}

#rgba {
  width: 50%;
  height: 50%;
  background-color: rgba(201, 219, 166, 0.5);
}
#opacity {
  width: 50%;
  height: 50%;
  background-color: orange;
}
