h1 {
  background-color: #ade8f4;
  border: 5px solid #023e8a;
  color: #001d3d;
  padding: 0.7rem;
  width: 300px;
  font-size: 1.8em;
  text-align: center;
  margin: 20px auto;
  font-family: "Courier New", Courier, monospace;
  font-weight: lighter;
}

h1:nth-of-type(2n) {
  background-color: #ffb703;
}
h1:nth-of-type(3n) {
  background-color: #fb5607;
}
h1:nth-of-type(4n) {
  background-color: #ffd60a;
}
section:first-of-type h1:nth-of-type(1) {
  /* transform-origin: top right; */
  transform: rotate(45deg);
}
section:first-of-type h1:nth-of-type(2) {
  transform: scale(0.6);
}
section:first-of-type h1:nth-of-type(3) {
  transform: translateX(200px);
}
section:first-of-type h1:nth-of-type(4) {
  transform: translate(-100px, 50px);
}
section:nth-of-type(2) h1:nth-of-type(1) {
  transform: skew(326deg);
}
section:nth-of-type(2) h1:nth-of-type(2) {
  transform: skew(10deg, 5deg);
}
section:nth-of-type(2) h1:nth-of-type(3) {
  transform: rotate(20deg) scale(1.3);
}
section:nth-of-type(2) h1:nth-of-type(4) {
  transform: translate(-500px) rotate(0.5turn) scaleY(1.5);
}
section:nth-of-type(2) {
  transform: scale(0.7) translateX(500px);
}
